@import "../../styles/_variables.scss";
.autocomplete {
    background-color: $white;
    position: absolute !important;
    left: -15px;
    max-width: 900px;
    border: 1px $lighter-gray solid;
    border-radius: 7px;
}