@import '../../../styles/_variables.scss';
.loading,
.spinner:before {
    box-sizing: border-box;
    position: absolute;
    font-size: 15px;
    right: 14px;
    top: 12px;
    border: 1px $lighter-gray solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: $light-gray;
    line-height: 15px;
    padding-left: 5px;
    cursor: pointer;
}

:global {
    ._show {
        display: flex
    }
}

.loading:after {
    display: inline-block;
    content: '...';
}

.spinner:before {
    content: '';
    border-top: 2px solid $light-gray;
    border-right: 2px solid transparent;
    animation: spinner .6s cubic-bezier(0, 0, 0.59, 0.79) infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}