@import "../../../styles/_variables.scss";
@import "../../../styles/_mixins.scss";
.header {
    position: relative;
    width: 100%;
    margin: 50px 0px;
    .title {
        font-size: 30px;
        color: $dark-gray;
        @include open-sans-bold();
        padding-left: 0px;
        text-align: center
    }
}