    @import "../../../../styles/_variables.scss";
    @import "../../../../styles/_mixins.scss";
    .iconText,
    .iconSearch {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: $lighter-gray;
        font-size: 20px;
        text-align: center;
        align-self: center;
        @include open-sans-bold();
    }
    
    .iconText {
        &:after {
            content: 'T'
        }
    }
    
    .iconSearch {
        &:after {
            font-family: "Material Icons";
            content: "\E8B6"
        }
    }