    @import "../../../styles/_variables.scss";
    @import "../../../styles/_mixins.scss";
    .footer {
        display: flex;
        align-items: flex-start;
        padding: 5px 5px;
        height: 90px;
        border-top: 1px solid $lighter-gray;
        margin: 0px !important;
        input {
            align-self: center;
            font-size: 1.1em;
            margin-left: -5px;
            @include open-sans-semi-bold();
            border: 1px solid $white;
        }
    }
    
     :global {
        .iconAjusting {
            margin: 0 15px !important;
        }
    }
    
    .info {
        padding-top: 30px;
        @include open-sans-semi-bold();
    }
    
    .copyright {
        text-align: right;
        color: $light-gray;
        font-size: .85em;
        align-self: flex-end;
        b {
            @include open-sans-semi-bold();
            color: $black;
        }
    }